* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}

@media print {
    @page {
        size: legal landscape;
        margin: 0.25in;
    }
}

.text_center {
    text-align: center;
}

.text_right {
    text-align: right;
}

.overflow {
    white-space: nowrap;
    overflow: hidden;
}

.border_top {
    border-top: 1px solid black;
}

.border_bottom {
    border-bottom: 1px solid black;
}

.border_left {
    border-left: 1px solid black;
}

.border_right {
    border-right: 1px solid black;
}

.border_top_t {
    border-top: 2px solid black;
}

.border_bottom_t {
    border-bottom: 2px solid black;
}

.border_left_t {
    border-left: 2px solid black;
}

.border_right_t {
    border-right: 2px solid black;
}

/*** PAGE CONTAINER **********************************************************/
.page_container {
    min-width: 13.5in;
    max-width: 13.5in;
    min-height: 8.0in;
    max-height: 8.0in;

    display: grid;
    grid-template-columns: auto 3.8in;
    grid-template-rows: 7.1in 0.75in;
    grid-template-areas:
        "drawing  data"
        "barcodes barcodes";
    column-gap: 0.1in;
    row-gap: 0.05in;

    page-break-after: always;
}

.page_container:last-child {
    page-break-after: auto;
}

/*** DRAWING CONTAINER *******************************************************/
.drawing_container {
    display: grid;
    grid-area: drawing;
    border: 2px solid black;
}

.drawing_image {
    max-width: 100%;
    max-height: 6.95in;
    object-fit: contain;
    margin: auto;
}

/*** DATA CONTAINER **********************************************************/
.data_container {
    display: grid;
    grid-area: data;
    row-gap: 2mm;
    align-items: start;
    align-content: space-between;
    text-align: center;
}

.data_heading {
    font-size: 12pt;
    font-weight: bold;
}

.data_heading_emphasis {
    font-size: 12pt;
    font-weight: bold;
    color: white;
    background-color: black;
}

.data_big_text {
    font-size: 24pt;
    font-weight: bold;
}

.data_small_text {
    font-size: 8pt;
}

.data_header {
    display: grid;
    grid-template-rows: 1fr auto;
    border: 2px solid black;
}

.data_model_label {
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    align-items: end;
}

.data_model {
    display: grid;
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.data_quantities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    border: 2px solid black;
}

.data_part_desc {
    display: grid;
    grid-template-columns: auto auto;
    border: 2px solid black;
}

.data_pallets {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    border: 2px solid black;
}

.data_material {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "color color      color "
        "code1 thickness1 sides1"
        "code2 thickness2 sides2";
    border: 2px solid black;
}

.data_material_color {
    display: grid;
    grid-area: color;
}

.data_dimensions {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "label length1 width1"
        "label length2 width2";
    border: 2px solid black;
}

.data_dimensions_label {
    display: grid;
    grid-area: label;
    align-content: center;
}

.data_cnc {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    border: 2px solid black;
}

.data_project {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    border: 2px solid black;
}

.data_table {
    width: 100%;
    border: 2px solid black;
}

td,
th {
    height: 7mm;
    padding: 1mm;
    border: 1px solid black;
}

.data_thick_border {
    border: 2px solid black;
}

.data_tracking_column_header {
    font-size: 10pt;
    font-weight: bold;
    width: 20%;
}

.data_tracking_row_header {
    font-size: 10pt;
    font-weight: bold;
    text-align: right;
}

.data_tracking_signature {
    font-size: 12pt;
    font-weight: bold;
}

/*** BARCODES CONTAINER ******************************************************/
.barcodes_container {
    display: grid;
    grid-area: barcodes;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "filler edge project cnc";
    column-gap: 0.75in;
    justify-content: right;
}

.barcode_cell {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "label"
        "code"
        "footer"
}

.barcode_label {
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    align-content: end;
}

.barcode {
    font-family: "Libre Barcode 39";
    font-weight: normal;
    font-size: 32pt;
    transform: scaleY(1.5) translateY(2mm);
    text-align: center;
}

.barcode_footer {
    font-size: 10pt;
    text-align: center;
    align-content: start;
}
