<!doctype html>

<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dessins de pièces - {{ lot_number }}</title>
    <meta name="description" content="Dessins de pièces.">
    <meta name="author" content="Megalak Finition Inc.">

    <link rel="stylesheet" href="{{ working_dir }}\www\normalize.css">
    <link rel="stylesheet" href="{{ working_dir }}\www\dessins\dessins.css">
</head>

<body>
    {% for row in part_data %}
    <div class="page_container">
        <div class="drawing_container"><img src="{{ row.image_path }}" alt="{{ row.part_number }}"
                class="drawing_image" />
        </div>
        <div class="data_container">
            <div class="data_header">
                <div class="data_model_label border_bottom">No. modèle - Lettre de la pièce</div>
                <div class="data_model overflow">{{ sku_data.sku }}{% if row.lettre != '' %}-{{ row.lettre }}{% endif %}
                </div>
            </div>
            <div class="data_part_desc">
                <div class="data_heading border_right overflow">{{ row.part_description }}</div>
                <div class="data_heading">{{ row.part_number }}</div>
            </div>
            <div class="data_quantities">
                <div class="border_bottom data_heading">Qté a produire</div>
                <div class="border_bottom border_left border_right data_heading">No. de trous</div>
                <div class="border_bottom data_heading">Lettre</div>
                <div class="data_big_text">{{ row.req_quantity }}</div>
                <div class="border_left border_right data_big_text">{{ row.num_holes }}</div>
                <div></div>
            </div>
            <div class="data_pallets">
                <div class="data_heading border_bottom border_right">Qté par palette</div>
                <div class="data_heading border_bottom">Pallete</div>
                <div class="border_right">{{ row.parts_per_pallet }}</div>
                <div>{{ row.pallet_number }} de {{ row.total_pallets }}</div>
            </div>
            <div class="data_material">
                <div class="data_material_color data_heading border_bottom">{% if row.material_code == '040' %}CARTON{%
                    else %}{{ row.material_color }}{% endif %}</div>
                <div class="data_small_text">Code couleur</div>
                <div class="data_small_text border_left border_right">Épaisseur</div>
                <div class="data_small_text">No. faces Lam.</div>
                <div>{{ row.material_code }}</div>
                <div class="border_left border_right">{{ row.thickness }}</div>
                <div>{{ row.material_faces }}</div>
            </div>
            <div class="data_dimensions">
                <div class="data_dimensions_label data_heading">Dimensions brutes</div>
                <div class="data_small_text border_left border_right">Longueuer</div>
                <div class="data_small_text">Largeur</div>
                <div class="border_left border_right data_heading">{{ row.length }}</div>
                <div class="data_heading">{{ row.width }}</div>
            </div>
            <div class="data_cnc">
                <div class="data_heading border_bottom border_right">Machine CNC</div>
                <div class="data_heading border_bottom">Programme CNC</div>
                <div class="border_right overflow">{{ row.cnc_machines }}</div>
                <div>{{ row.cnc_program }}</div>
            </div>
            <div class="data_project">
                <div class="data_heading border_bottom border_right">No. projet</div>
                <div class="data_heading border_bottom">Projet maître</div>
                <div class="border_right">{{ row.project_number }}</div>
                <div>{{ lot_number }}</div>
            </div>
            <div>
                <table class="data_table">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="data_tracking_column_header">Setup</th>
                            <th class="data_tracking_column_header">Operateur</th>
                            <th class="data_tracking_column_header">Machine</th>
                            <th class="data_tracking_column_header">Total fini</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="data_tracking_row_header">Couper</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th class="data_tracking_row_header">Edge</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th class="data_tracking_row_header">Usinage</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th class="data_tracking_row_header">Inspection</th>
                            <td colspan="4"></td>
                        </tr>
                        <tr>
                            <td colspan="4" class="data_tracking_row_header data_tracking_signature data_thick_border">
                                Total prêt à expédier
                            </td>
                            <td class="data_thick_border"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="barcodes_container">
            <div></div>
            <div class="barcode_cell">
                <div class="barcode_label">Programme edge</div>
                <div class="barcode">*{{ row.edge_program }}*</div>
                <div class="barcode_footer">{{ row.edge_program }}</div>
            </div>
            <div class="barcode_cell">
                <div class="barcode_label">No. projet</div>
                <div class="barcode">*{{ row.project_number }}*</div>
                <div class="barcode_footer">{{ row.project_number }}</div>
            </div>
            <div class="barcode_cell">
                <div class="barcode_label">Programme CNC</div>
                <div class="barcode">*{{ row.cnc_program }}*</div>
                <div class="barcode_footer">{{ row.cnc_program }}</div>
            </div>
        </div>
    </div>
    {% endfor %}
</body>

</html>