* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  margin: 0;
  padding: 0;
}

body {
  width: 4in;
  height: 2in;
}

@media print {
  @page {
    size: 4in 2in portrait;
    margin: 0;
  }
}

.container {
  display: grid;
  grid-template-rows: 5mm 1fr 5mm;
  margin: 2mm;
}

.inner_container {
  display: grid;
  grid-template-columns: 5mm 38mm auto 5mm;
}

img {
  min-width: 33.1mm;
  width: 33.1mm;
  max-width: 33.1mm;

  min-height: 33.1mm;
  height: 33.1mm;
  max-height: 33.1mm;

  margin: auto;
}

.image_container {
  display: grid;
  min-height: 38mm;
}

.data_container {
  display: grid;
  border-left: 1px solid black;
}

.no_piece {
  display: grid;
  font-weight: bold;
  font-size: 125%;
  border-bottom: 1px solid black;
  justify-items: center;
  align-items: center;
}

.edge_top {
  display: grid;
  justify-items: center;
  align-items: center;
  border: 1px solid black;
}

.edge_bottom {
  display: grid;
  justify-items: center;
  align-items: center;
  border: 1px solid black;
}

.edge_left {
  display: grid;
  justify-items: center;
  align-items: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.edge_right {
  display: grid;
  justify-items: center;
  align-items: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.rotate_cw {
  writing-mode: vertical-lr;
  transform: scale(-1);
}

.rotate_ccw {
  writing-mode: vertical-rl;
}

.rotate_top {
  transform: scale(-1);
}
