<!doctype html>

<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Formulaire de production - {{ lot_number }}</title>
    <meta name="description" content="Formulaire de production.">
    <meta name="author" content="Megalak Finition Inc.">

    <link rel="stylesheet" href="{{ working_dir }}\www\normalize.css">
    <link rel="stylesheet" href="{{ working_dir }}\www\form\form.css">
</head>

<body id="page_container">
    <header id="header_container">
        <div id="header_SKU">{{ sku_data.sku }}</div>
        <div id="header_quantity">Quantité: {{ sku_data.quantity }}</div>
        <div id="header_lot">Projet: {{ lot_number }}</div>
        <div id="header_description">{{ sku_data.description }}</div>
    </header>

    <main id="main_container">
        <div id="main_table_row" class="over_underline">
            <div class="main_table_header_labels">Qté</div>
            <div class="main_table_header_labels">Code</div>
            <div class="main_table_header_labels">Description</div>
            <div class="main_table_header_labels">Long</div>
            <div class="main_table_header_labels">Larg</div>
            <div class="main_table_header_labels_sm">Manque Mcx</div>
            <div class="main_table_header_labels_sm">Temps (min)</div>
            <div class="main_table_header_labels_sm">Edge</div>
            <div class="main_table_header_labels_sm">Machines</div>
            <div class="main_table_header_labels_sm">Man</div>
        </div>
        <div id="main_table_row">
            {% for row in part_data %}
            <div class="text_right numeral_margin">{{ row.quantity }}</div>
            <div>{{ row.part_number }}</div>
            <div class="overflow">{{ row.description }}</div>
            <div class="text_right">{{ row.length }}</div>
            <div class="text_right">{{ row.width }}</div>
            <div class="main_table_datarow_text_sm underline"></div>
            <div class="main_table_datarow_text_sm text_center underline">{{ row.machining_time }}</div>
            <div class="main_table_datarow_text_sm text_center underline">{{ row.edging }}</div>
            <div class="main_table_datarow_text_sm text_center underline">{{ row.robot }}</div>
            <div class="main_table_datarow_text_sm text_center underline">{{ row.manual_edge }}</div>
            {% endfor %}
        </div>
    </main>

    <footer id="footer_container">
        <div id="footer_note_header">Notes</div>
        <div id="footer_note_body">{% if sku_data.painted_parts %}MDF{% else %}&nbsp;{% endif %}</div>
        <div id="footer_image_container"><img id="footer_image" src="file://{{ image_path }}"
                alt="{{ sku_data.sku }}" />
        </div>
    </footer>
</body>

</html>