* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

@media print {
    @page {
        size: letter portrait;
        margin: 0.25in;
    }
}

#page_container {
    min-width: 8.0in;
    max-width: 8.0in;
    min-height: 10.5in;
    max-height: 10.5in;

    margin: 0;
    padding: 0;

    display: grid;
    grid-template-rows: 0.75in auto 2.5in;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.text_center {
    text-align: center;
}

.text_right {
    text-align: right;
}

.underline {
    border-bottom: 1px solid black;
}

.over_underline {
    border-top: 1.5pt solid black;
    border-bottom: 1.5pt solid black;
}

.overflow {
    white-space: nowrap;
    overflow: hidden;
}

.numeral_margin {
    margin-right: 0.05in;
}

/*** HEADER ELEMENTS *********************************************************/
#header_container {
    display: grid;
    grid-area: header;
    grid-template-columns: 3in auto;
    grid-template-rows: auto auto;
}

#header_SKU {
    font-size: 28pt;
    font-weight: bold;
}

#header_lot {
    font-size: 14pt;
    font-weight: bold;
}

#header_quantity {
    font-size: 28pt;
    font-weight: bold;
    text-align: right;
}

#header_description {
    font-size: 14pt;
    font-weight: bold;
    text-align: right;
}

/*** MAIN ELEMENTS ***********************************************************/
#main_container {
    display: grid;
    grid-area: main;
    grid-template-rows: auto 1fr;
    row-gap: 0.125in;
    align-items: start;
}

#main_table_row {
    display: grid;
    align-items: end;
    grid-template-columns: 9mm 22mm auto 13mm 13mm 10mm 10mm 14mm 30mm 6mm;
    column-gap: 0.0625in;
    row-gap: 0.19in;
}

.main_table_header_labels {
    font-weight: bold;
    text-align: center;
}

.main_table_header_labels_sm {
    font-size: 8pt;
    font-weight: bold;
    text-align: center;
}

.main_table_datarow_text_sm {
    font-size: 8pt;
}

/*** FOOTER ELEMENTS *********************************************************/
#footer_container {
    display: grid;
    grid-area: footer;
    grid-template-columns: 3.25in auto;
    column-gap: 0.0625in;
    grid-template-rows: 0.25in auto;
    grid-template-areas:
        "header image"
        "note   image";
}

#footer_note_header {
    display: grid;
    grid-area: header;
    justify-items: center;
    border-top: 1.5pt solid black;
    border-bottom: 1.5pt solid black;
    font-size: 14pt;
    font-weight: bold;
}

#footer_note_body {
    display: grid;
    grid-area: note;
    justify-items: center;
    align-items: start;
    font-size: 48pt;
    font-weight: bold;
}

#footer_image_container {
    display: grid;
    grid-area: image;
    padding: 0.1in;
    justify-items: center;
    align-items: center;
    border: 1.5pt solid black;
}

#footer_image {
    width: auto;
    height: 2.25in;
}