* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    line-height: 1.2;
    margin: 0.0;
    padding: 0.0;
}

body {
    width: 3.9in;
    height: 1.9in;
}

.nexera_logo {
    font-size: 36pt;
    font-weight: bold;
    letter-spacing: -4.5pt;
    line-height: 0;
}

.nexera_logo_suffix {
    font-size: 26pt;
    font-weight: bold;
    margin-left: -5pt;
    line-height: 0;
}

.label_letter {
    font-weight: bold;
    font-size: 24pt;
    text-align: center;
    border: 0.02in solid;
    width: 0.8in;
    margin: auto;
    padding: auto;
    max-width: 0.8in;
}

.label_header {
    font-size: 11pt;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.label_fieldname {
    font-size: 12pt;
    font-weight: bold;
    text-align: right;
}

.label_field {
    font-size: 12pt;
    font-weight: normal;
}

.label_email {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.label_madein {
    text-align: center;
}

.label_carb {
    font-size: 6pt;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.label_phone {
    text-align: right;
    font-weight: bold;
}

.label_date {
    text-align: right;
}

@media print {
    @page {
        size: 4.0in 2.0in portrait;
        margin: 0.05in;
    }
}