* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    line-height: 1.2;
    margin: 0.0;
    padding: 0.0;
}

.nexera_logo {
    font-family: Trade Gothic LT Std, Arial, Helvetica, sans-serif;
    font-size: 36pt;
    font-weight: bold;
    display: inline-block;
    letter-spacing: -4pt;
}

.nexera_logo_suffix {
    font-family: Trade Gothic LT Std, Arial, Helvetica, sans-serif;
    font-size: 30pt;
    font-weight: bold;
    display: inline-block;
    margin-left: -5pt;
}

.label_letter {
    font-weight: bold;
    font-size: 24pt;
    text-align: center;
    border: 0.02in solid;
    width: auto;
    margin: auto;
    padding: 0 0.05in 0;
    max-width: 0.75in;
}

.label_header {
    font-size: 11pt;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.label_fieldname {
    font-size: 12pt;
    font-weight: bold;
    text-align: right;
}

.label_field {
    font-size: 12pt;
    font-weight: normal;
}

.label_email {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.label_madein {
    text-align: center;
}

.label_carb {
    font-size: 6pt;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.label_phone {
    text-align: right;
}

.label_date {
    text-align: right;
}

@media print {
    @page {
        size: 4.0in 2.0in;
        margin: 0.05in;
    }

    body {
        display: block;
        width: 3.9in;
        height: 1.9in;
    }
}